validation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Books">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="Bookname" type="xs:string"/>
                <xs:element name="Serial" type="xs:positiveInteger"/>
                <xs:element name="Price" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>
</xs:schema>
